* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Shared styles */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Main styles */
header {
    background-color: #1A0B2E;
}

nav {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

nav .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

nav .hamburger {
    display: none;
}

/* hero section style */
.hero {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.hero-circle {
    position: relative;
    width: 350px;
    height: 350px;
}

/* hero section > Badge new */
.hero-circle .badge {
    font: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

    position: absolute;
    /* absolute inside hero-circle */
    top: 0;
    /* stick to top */
    right: 0;
    /* stick to right */
    transform: translate(-30%, 40%);
    /* Adjust overlap inside */

    animation: badgeGlow 2.8s ease-in-out infinite;
}

/* The badge animation with glowing the box-shadow */
@keyframes badgeGlow {
    0% {
        box-shadow: 0 3px 20px rgba(0, 255, 136, 0.4);
    }

    50% {
        box-shadow: 0 3px 38px rgba(0, 255, 136, 0.85);
    }

    100% {
        box-shadow: 0 3px 20px rgba(0, 255, 136, 0.4);
    }
}

.hero-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-icon {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-icon img {
    width: 120px;
    height: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    gap: 24px;
}

.hero-content .hero-heading h1 {
    padding-top: 40px;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}

.hero-content .hero-heading p {
    font-size: 16px;
    color: #FFFFFF;
    white-space: nowrap;
}

.hero-buttons {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hero-buttons .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    white-space: nowrap;
}

.hero-buttons .btn-outline {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;

    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

/* Hero section - subscription button hoover effect transition */
.btn.btn-outline:hover {
    background-color: yellowgreen;
    color: #0b2b1c;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 255, 136, 0.45);
}

/* Podcast section */
.podcast {
    background-color: #1A0B2E;
}

.podcast .podcast-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.podcast-container .podcast-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast-container .podcast-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.podcast-container .podcast-content p {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    color: #FFFFFF;
    opacity: 40%;
    text-align: center;
}

.podcast-content p.last-line {
    padding-top: 50px;
}

.podcast-container .divider {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    margin: 80px auto;
    background-color: #FFFFFF;
    opacity: 10%;
}

.podcast-rating {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 30px 0 80px;
}

.podcast-rating .podcast-item .value {
    color: #00FF88;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
}

.podcast-rating .podcast-item .label {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    color: #FFFFFF;
    opacity: 40%;
    text-align: center;
    text-transform: uppercase;
}

/* Choose techwave section */
.choose-techwave {
    background-color: #230E3D;
}

.choose-techwave h2,
.option-card-container {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    align-content: center;
}

.choose-techwave h2 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    padding: 120px 0 40px 0;
}

.option-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 120px;
    gap: 30px;
}

.option-card-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.option-card-2 {
    grid-column: 2 / span 3;
}

.option-card-3 {
    grid-row: 2;
    grid-column: 2 / span 3;
}

.option-card-4 {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.option-card-5 {
    grid-row: 3;
    grid-column: 3;
    margin-right: -30px;
}

.option-card {
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    align-content: center;
}

.option-card .option-icon,
.option-head {
    padding-bottom: 16px;
}

.option-card .option-head {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;
}

.option-card .option-text {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, .6);
}

/* Feature Episodes section */
.feature-episodes {
    background-color: #1A0B2E;
    width: 100%;
}

.feature-card-container {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    padding: 80px 0 120px 0;
}

.feature-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    gap: 30px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 24px;
    background-color: #250D44;
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 120px;
}

.time-count {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
    
}

.feature-content {
    padding: 24px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.meet-the-host {
    margin-top: 40px;
}

.host-cards {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.host-card {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.host-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.social-icon {
    border: 1px solid #533C72;
    width: 38px;
    height: 38px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-card-container h2,
h3,
h4 {
    color: #FFFFFF;
}

.feature-card-container h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
}

.feature-card-container h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    text-align: left;
}

.feature-card-container h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: left;
}

.feature-card-container p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

/* Footer */
.footer {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.footer-container{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    padding: 120px 0;
}

.tw-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.company-logos {
    /* max-width: 544px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.company-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.company-logo p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
}

.copyright {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    margin-top: 32px;
}



/* Small devices */
@media screen and (max-width: 576px) {

    /* Nav section */
    nav {
        width: 100%;
        padding: 20px;
        justify-content: space-between;
    }

    nav .menu {
        display: none;
    }

    .btn {
        display: none;
    }

    nav .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger img {
        width: 24px;
        height: auto;
    }

    .logo img {
        width: 135px;
        height: auto;
    }

    /* hero section */
    .hero-container {
        padding: 48px 20px;
        max-width: 100%;
    }

    .hero-circle {
        width: 240px;
        height: 240px;
    }

    .hero-icon img {
        width: 80px;
    }

    .hero-circle .badge {
        font-size: 14px;
        padding: 6px 12px;
        transform: translate(-20%, 35%);
    }

    .hero-content .hero-heading p {
        font-size: 14px;
        white-space: normal;
        padding: 0 10px;
    }

    .hero-buttons {
        flex-direction: row;
        gap: 12px;
    }

    .hero-buttons .btn {
        width: 100%;
    }

    /* podcast */
    .podcast .podcast-container {
        padding-top: 10px;
        width: 90%;
    }

    .podcast-container .podcast-content h2 {
        font-size: 32px;
    }

    .podcast-container .podcast-content p {
        line-height: 16px;
        padding-top: 0;
    }

    .podcast-content p.last-line {
        padding-top: 12px;
    }

    .podcast-container .divider {
        margin: 10px 0;
    }

    /* Podcast rating items grid 2x2 */
    .podcast-rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
        justify-items: center;
    }

    .podcast-rating .podcast-item .value {
        font-size: 32px;
        line-height: 16px;
    }

    .podcast-rating .podcast-item .label {
        font-size: 16px;
        line-height: 16px;
        padding-top: 8px;
    }

    /* Choose techwave section */
    .choose-techwave h2 {
        font-size: 32px;
        text-align: center;
        padding: 40px 0 16px 0;
        width: 100%;
    }

    .option-card-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        gap: 16px;
        width: 80%;
    }

    .option-card-5 {
        margin-right: 0;
    }

    /* Featured and host section */
    .feature-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        gap: 5px;
    }

    .feature-card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .feature-content {
        padding: 16px;
        gap: 10px;
    }

    .meet-the-host {
        margin-top: 30px;
    }

    .host-card {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    .host-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .feature-card-container h2 {
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        text-align: center;
    }

    .feature-card-container h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 29px;
        text-align: left;
    }
}