* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Shared styles */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background: linear-gradient(
        47.64deg, 
        rgba(247, 233, 63, 1), 
        rgba(251, 9, 180, 1), 
        rgba(145, 0, 248, 1)
    );
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Main styles */
header {
    background-color: #1A0B2E;
}

nav {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

nav .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

nav .hamburger {
    display: none;
}

/* Small devices */
@media screen and (max-width: 576px) {
    nav {
        width: 100%;
        padding: 20px;
        justify-content: space-between;
    }

    nav .menu {
        display: none;
    }

    .btn {
        display: none;
    }

    nav .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger img {
        width: 24px;
        height: auto;
    }

    .logo img {
        width: 135px;
        height: auto;
    }
}