* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Shared styles */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Main styles */
header {
    background-color: #1A0B2E;
}

nav {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

nav .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

nav .hamburger {
    display: none;
}

/* hero section style */
.hero {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.hero-circle {
    position: relative;
    width: 350px;
    height: 350px;
}

/* hero section > Badge new */
.hero-circle .badge {
    font: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

    position: absolute;
    /* absolute inside hero-circle */
    top: 0;
    /* stick to top */
    right: 0;
    /* stick to right */
    transform: translate(-30%, 40%);
    /* Adjust overlap inside */

    animation: badgeGlow 2.8s ease-in-out infinite;
}

/* The badge animation with glowing the box-shadow */
@keyframes badgeGlow {
    0% {
        box-shadow: 0 3px 20px rgba(0, 255, 136, 0.4);
    }

    50% {
        box-shadow: 0 3px 38px rgba(0, 255, 136, 0.85);
    }

    100% {
        box-shadow: 0 3px 20px rgba(0, 255, 136, 0.4);
    }
}

.hero-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-icon {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-icon img {
    width: 120px;
    height: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    gap: 24px;
}

.hero-content .hero-heading h1 {
    padding-top: 40px;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}

.hero-content .hero-heading p {
    font-size: 16px;
    color: #FFFFFF;
    white-space: nowrap;
}

.hero-buttons {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hero-buttons .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    white-space: nowrap;
}

.hero-buttons .btn-outline {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;

    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

/* Hero section - subscription button hoover effect transition */
.btn.btn-outline:hover {
    background-color: yellowgreen;
    color: #0b2b1c;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 255, 136, 0.45);
}

/* Small devices */
@media screen and (max-width: 576px) {
    /* Nav section */
    nav {
        width: 100%;
        padding: 20px;
        justify-content: space-between;
    }

    nav .menu {
        display: none;
    }

    .btn {
        display: none;
    }

    nav .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger img {
        width: 24px;
        height: auto;
    }

    .logo img {
        width: 135px;
        height: auto;
    }

    /* hero section */
    .hero-container {
        padding: 48px 20px;
        max-width: 100%;
    }

    .hero-circle {
        width: 240px;
        height: 240px;
    }

    .hero-icon img {
        width: 80px;
    }

    .hero-circle .badge {
        font-size: 14px;
        padding: 6px 12px;
        transform: translate(-20%, 35%);
    }

    .hero-content .hero-heading p {
        font-size: 14px;
        white-space: normal;
        padding: 0 10px;
    }

    .hero-buttons {
        flex-direction: row;
        gap: 12px;
    }

    .hero-buttons .btn {
        width: 100%;
    }
}